<h1>Movies#search</h1>
<p>Find me in app/views/movies/search.html.erb</p>
<h1>formulaire choisir film</h1>
<form action="/show" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <input type="text" class="form-control" name="movie_name" placeholder="Nom du film">
        </div>
        <button type="submit" class="btn btn-primary">Chercher</button>
</form>
